extends layout
append head
    script(src="/javascripts/index.js")

block content
    div(class="header")
        h1(class="heading") Postbrb is a place to post and read stories...
            p signup to write your own
        if locals.authenticated
            a(href="/stories/new" class="btn-start") Start Here
        else
            a(href="/users/login" class="btn-start") Start Here
        p.border
    div(class="container__stories")
        each story in stories
            div(class="overall-box" id=`story-card-${story.id}`)
                img(src=story.User.avatarUrl class="avatarIcon")
                p.story-detail=`Author: ${story.User.username}`
                p.story-detail= `Published: ${story.createdAt.toLocaleDateString()}`
                h4(class="story-title")= story.title
                p.story-description=`${story.content.slice(0, 80).split(" ").slice(0,story.content.slice(0, 80).split(" ").length-1).join(" ")}...`
                    a(href=`/stories/${story.id}` class="button-read") Read More
