extends layout
append head
    script(src="/javascripts/index.js")

block content
    div(class="classy-container")
        div(class="header")
            div(class="heading-container")
                img(src="/assets/images/postbrb_small.png" class="logoName")

        div(class="container__stories")
            each story in stories
                div(class="overall-box" id=`story-card-${story.id}`)
                    img(src=story.User.avatarUrl class="avatarIcon")
                    p.story-detail=`Author: ${story.User.username}`
                    p.story-detail= `Published: ${story.createdAt.toLocaleDateString()}`
                    h4(class="story-title")= story.title
                    p.story-description=`${story.content.slice(0, 80).split(" ").slice(0,story.content.slice(0, 80).split(" ").length-1).join(" ")}...`
                        a(href=`/stories/${story.id}` class="button-read") Read More

        a.button-containter(href="/stories/new" class="btn-start") Write Story
            //- if locals.authenticated

            //- else
            //-     a(href="/users/login" class="btn-start") Start Here
