extends layout

block content

    div(class="header")
        h1(class="heading") Postbrb is a place to post and read stories
        if locals.authenticated
            a(href="/stories/new" class="btn-start") Start Here
        else
            a(href="/users/login" class="btn-start") Start Here
    div(class="container__stories")
        each story in stories
            div(class="overall-box")
                div(class="story-box")
                    h4(class="story-title")= story.title
                    p(class="story-description")=story.content.slice(0, 80)
                    div(class="story-detail")
                        p=`Aurthor: ${story.User.username}  ${story.createdAt.toLocaleDateString()}`
                    a(href=`/stories/${story.id}` class="button-read") Read More
