extends layout

block content
section(class="page")
    div(class="title")
        h1(class="story-title")= stories.title
            div(class="story-byAuthor")=stories.User.username
            div(class="story-date")=stories.createdAt.toLocaleDateString()
                a(href=`/users/${user.id}`)
    div(class="content-body")
        div(class="wrapper")
            p(class="content")=stories.User.content
